language: ruby
sudo: false
before_install:
  - "echo 'gem: --no-ri --no-rdoc' > ~/.gemrc"
  - gem install bundler
bundler_args: "--no-deployment"
script:
   - echo $BUNDLE_GEMFILE
   - bundle exec rake
rvm:
  - 1.9.3
  - jruby-19mode
  - 2.0.0
  - 2.1.5
  - 2.1.8
  - 2.2.2
  - 2.2.3
  - 2.3.0
  - 2.3.1
matrix:
  exclude:
    - rvm: jruby-19mode
      gemfile: gemfiles/rails_5.0.0.gemfile
    - rvm: 1.9,3
      gemfile: gemfiles/rails_5.0.0.gemfile
    - rvm: 2.0.0
      gemfile: gemfiles/rails_5.0.0.gemfile
    - rvm: 2.1.5
      gemfile: gemfiles/rails_5.0.0.gemfile
    - rvm: 2.1.8
      gemfile: gemfiles/rails_5.0.0.gemfile
