name: Ruby Gem

on:
  push:
    branches:
      - master
    paths: 
      - 'version.rb'
        
jobs:
  build:
    name: Build + Publish
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        version: 2.6.x

    - name: Publish to GPR
      run: |
        mkdir -p $HOME/.gem
        touch $HOME/.gem/credentials
        chmod 0600 $HOME/.gem/credentials
        printf -- "---\n:github: Bearer ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
        rm -f *.gem
        gem build *.gemspec
        gem push --KEY github --host https://rubygems.pkg.github.com/${OWNER} *.gem
      env:
        GEM_HOST_API_KEY: ${{secrets.GPR_AUTH_TOKEN}}
        OWNER: bogdanRada
    
    - name: Publish to RubyGems
      run: |
        mkdir -p $HOME/.gem
        touch $HOME/.gem/credentials
        chmod 0600 $HOME/.gem/credentials
        printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
        rm -f *.gem
        gem build *.gemspec
        gem push *.gem
      env:
        GEM_HOST_API_KEY: ${{secrets.RUBYGEMS_AUTH_TOKEN}}
            
    - name: Github Version Dump 
      run: | 
        ruby -e "require \"#{Dir.pwd}/lib/version.rb\"; puts EnhancedDateSelect.gem_version.to_s" > version.txt
    
    - name: Git tag
      uses: srt32/git-actions@v0.0.3  
      with: |
        git remote add github https://${OWNER}:${GEM_HOST_API_KEY}@github.com/${OWNER}/enhanced_date_select.git
        git tag -a `cat version.txt` -m "Release `cat version.txt`" && rm -r version.txt
        git push github --tags  
      env:
        GEM_HOST_API_KEY: ${{secrets.GPR_AUTH_TOKEN}}
        OWNER: bogdanRada   
